<h1>My Inbox</h1>

<table class="table">
  <thead>
    <tr>
      <th>Conversation with</th>
      <th>View</th>
    </tr>
  </thead>

  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td>
          <%= chat.other_participant(current_user).first_name %>
          <%= chat.other_participant(current_user).last_name %>
        </td>
        
        <td>
          <%= link_to "View", chat_path(chat), class: "btn btn-sm btn-info" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
